@import "base"
@import "navbar"

$bp-sm: "max-width: 767px"
$bp-md: "min-width: 768px"
$bp-lg: "min-width: 992px"
$bp-xl: "min-width: 1200px"

// @media( #{$bp-sm})
	// code here

// @media( #{$bp-md})
	// code here

// @media( #{$bp-lg})
	// code here

// @media( #{$bp-xl})
	// code here

html, body, #wrapper
	background: #FFF
	border: none
	box-sizing: border-box
	font-family: $sans-serif
	height: 100%
	margin: 0
	outline: none
	padding: 0
	width: 100%

a, a:link, a:hover, a:focus
	outline: none
	transition: all 0.3 ease-in-out

h1, h2
	font-family: $serif

#wrapper
	overflow-y: scroll

::selection
	background: $primary-color

::-moz-selection
	background: $primary-color

.btn
	border-radius: 5rem
	border: none
	display: inline-block
	font-family: $serif
	font-size: 1.5rem
	margin: 1rem 0
	padding: 0.5rem 2rem
	text-align: center
	box-shadow: 0 2px 10px rgba($secondary-dark, .25)
	&:hover, &:focus
		box-shadow: 0 4px 14px rgba($secondary-dark, .25)

.btn-primary
	background: $primary-color
	color: $secondary-dark
	&:after
		content: " ⇒"
	&:hover, &:focus
		background: $primary-color-darker
		color: $secondary-dark

.btn-secondary
	background: $white
	color: $secondary-dark
	&:hover, &:focus
		background: $off-white
		color: $secondary-dark

.slide
	box-sizing: border-box
	margin: 0 auto
	min-height: 100%
	padding: 1.5rem 1.5rem 3rem
	width: 100%

	h5
		border-bottom: 1px $secondary-dark solid
		display: inline-block
		margin-bottom: 1.5rem
		padding: 5rem 0 0.5rem
		text-transform: uppercase

	h2
		padding: 0

#Intro
	background: $primary-color url('assets/brand/main-cover.jpg') center center no-repeat fixed
	background-size: cover
	box-sizing: border-box
	margin: 0
	max-width: 100%
	min-height: 100%
	padding: 0
	position: relative

	img
		display: block
		margin: 0 auto
		padding: 8rem 0 6rem
		position: relative
		width: 50%
		@media( #{$bp-md})
			width: 30%
		@media( #{$bp-lg})
			max-width: 250px

	h1
		box-sizing: border-box
		color: $secondary-dark
		display: block
		font-size: 2.5rem
		line-height: 3rem
		margin: 0
		padding: 3rem 0 1rem
		text-align: center

		span
			background-color: $primary-color
			line-height: 4rem
			margin: 0
			margin: 1rem 0
			padding: 0

#About-Us
	// background: $off-white

#Our-Causes
	// background: $off-white
	@media( #{$bp-md})
		h2:first-child
			padding: 4rem 0 0

#Recent-Events
	// background: $off-white
	h2
		padding-top: 2rem

	.e-date
		color: $secondary-dark
		opacity: .6

	.older-events
		display: block
		margin: 1rem auto
		@media( #{$bp-md})
			width: 30%

#Support-Us
	// background: $off-white
	h1
		font-size: 3rem

	.tri-actions .col-md-4
		padding-top: 3rem
