@charset "UTF-8";
.navbar {
  background: #edea3e;
  margin-top: -500px;
  text-align: center;
  transition: all 0.3s ease;
}
.navbar .navbar-brand {
  color: #101010;
  padding: 10px;
  transition: all 0.3s ease;
  font-size: 1.1rem;
  line-height: 1.5rem;
}
.navbar .navbar-toggler {
  border: none;
  outline: none;
}
.navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar .nav-item {
  border-radius: 5rem;
  border: 1px solid #edea3e;
}
.navbar .nav-item:hover {
  border: 1px solid #e2e000;
}
.navbar .navbar-nav .nav-link, .navbar .nav-item.active .nav-link, .navbar .nav-item:hover .nav-link {
  padding: 1rem 1.5rem;
  color: #101010;
}
.navbar .active {
  background: #e2e000;
  border-radius: 5rem;
  border: 1px solid #e2e000;
  color: #101010;
}

html, body, #wrapper {
  background: #FFF;
  border: none;
  box-sizing: border-box;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  outline: none;
  padding: 0;
  width: 100%;
  transition: all 0.3 ease-in-out;
}

a, a:link, a:hover, a:focus {
  outline: none;
  transition: all 0.3 ease-in-out;
}

h1, h2 {
  font-family: "Playfair Display", serif;
}

body {
  overflow-y: scroll;
}

::selection {
  background: #edea3e;
}

::-moz-selection {
  background: #edea3e;
}

.btn {
  border-radius: 5rem;
  border: none;
  display: inline-block;
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  margin: 1rem 0;
  padding: 0.5rem 2rem;
  text-align: center;
  box-shadow: 0 2px 10px rgba(16, 16, 16, 0.25);
}
.btn:hover, .btn:focus {
  box-shadow: 0 4px 14px rgba(16, 16, 16, 0.25);
}

.btn-primary {
  background: #edea3e;
  color: #101010;
}
.btn-primary:after {
  content: " ⇒";
}
.btn-primary:hover, .btn-primary:focus {
  background: #e2e000;
  color: #101010;
}

.btn-secondary {
  background: #fffef4;
  color: #101010;
}
.btn-secondary:hover, .btn-secondary:focus {
  background: #fffee6;
  color: #101010;
}

.slide {
  box-sizing: border-box;
  margin: 0 auto;
  min-height: 100vh;
  padding: 5rem 1.5rem 3rem;
  width: 100%;
}
.slide h5 {
  border-bottom: 1px #101010 solid;
  display: inline-block;
  margin-bottom: 1.5rem;
  padding: 5rem 0 0.5rem;
  text-transform: uppercase;
}
.slide h2 {
  padding: 0;
}

#Intro {
  background: #edea3e url("assets/brand/main-cover.jpg") center center no-repeat fixed;
  background-size: cover;
  box-sizing: border-box;
  margin: 0;
  max-width: 100%;
  min-height: 100vh;
  padding: 0;
  position: relative;
}
#Intro img {
  display: block;
  margin: 0 auto;
  padding: 8rem 0 6rem;
  position: relative;
  width: 50%;
}
@media (min-width: 768px) {
  #Intro img {
    width: 30%;
  }
}
@media (min-width: 992px) {
  #Intro img {
    max-width: 250px;
  }
}
#Intro h1 {
  box-sizing: border-box;
  color: #101010;
  display: block;
  font-size: 2.5rem;
  line-height: 3rem;
  margin: 0;
  padding: 3rem 0 1rem;
  text-align: center;
}
#Intro h1 span {
  background-color: #edea3e;
  line-height: 4rem;
  margin: 0;
  margin: 1rem 0;
  padding: 0;
}

@media (min-width: 768px) {
  #Our-Causes h2:first-child {
    padding: 4rem 0 0;
  }
}

#Recent-Events h2 {
  padding-top: 2rem;
}
#Recent-Events .e-date {
  color: #101010;
  opacity: 0.6;
}
#Recent-Events .older-events {
  display: block;
  margin: 1rem auto;
}
@media (min-width: 768px) {
  #Recent-Events .older-events {
    width: 30%;
  }
}

#Support-Us h1 {
  font-size: 3rem;
}
#Support-Us #tri-actions .col-md-6 {
  padding-top: 3rem;
}

#Get-In-Touch a#s-fb {
  color: #3b5999 !important;
}
#Get-In-Touch a#s-ig {
  color: #ea4c89 !important;
}
#Get-In-Touch a#s-yt {
  color: #cd201f !important;
}
#Get-In-Touch h2 {
  opacity: 0.9;
}
#Get-In-Touch #team-cards {
  text-align: center;
}
#Get-In-Touch #team-cards .col-md-4 {
  margin: 1.5rem auto;
  padding: 0.5rem auto;
}
#Get-In-Touch #team-cards img {
  border-radius: 0.5rem;
  opacity: 1;
  transition: all 0.3 ease-in-out;
}
#Get-In-Touch #team-cards img:hover {
  opacity: 0.9;
}
#Get-In-Touch #team-cards h3 {
  font-family: "Playfair Display", serif;
  margin: 1.5rem 0 0;
}
#Get-In-Touch #team-cards h4 {
  font-family: "Playfair Display", serif;
  margin: 1rem 0 1.5rem;
}
#Get-In-Touch #team-cards a {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 1.1rem;
  margin: 0.5rem 0;
  display: block;
}

#Footer {
  background: #edea3e;
}
#Footer p {
  font-size: 1rem;
  padding: 1rem 0;
  margin: 0;
  text-align: center;
}
#Footer a {
  color: #101010;
}

/*# sourceMappingURL=style.css.map */
